<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Tessa's Car Dealership</title>
  </head>
  <body>
    <h1>Add a new car</h1>

    <form action="/cars" method="post">
        <label for="makeModel">Enter the Make and Model</label>
        <input id="makeModel" name="makeModel" type="text">

        <label for="price">Enter the Make and Model</label>
        <input id="price" name="price" type="text">

        <label for="miles">Enter the Make and Model</label>
        <input id="miles" name="miles" type="text">

        <button type="submit">Submit</button>
    </form>

  </body>
</html>