@using CarDealership.Models;

<h1>Cars</h1>
<ul>

@if (Model.Count == 0)
{
  <p>You have no cars in your inventory!</p>
}
@if(Model.Count != 0)
{
  @foreach (Car car in Model)
  {
    <li>@car.GetMakeModel()</li>
    <ul>
        <li>$@car.GetPrice()</li>
        <li>@car.GetMiles() miles</li>
    </ul>
  }
}

</ul>
<a href="/cars/new">Add a new car</a>